.faq-style-one {
    .accrodion-grp {
        .accrodion {
            + .accrodion {margin-top: 10px;}        	
            .accrodion-title {
            	border: 1px solid #DEE0E1;
                background:#FFFFFF;
            	padding: 14.5px 25px;
            	cursor: pointer;
                transition: all .4s ease;
                h4 {
                    margin: 0;
                    position: relative;
                    font-size: 18px;
                    color: #222222;
                    font-weight: 400;
                    font-family: 'Rubik';
                    &:before {
                        content: '\f107';
                        font-family: 'FontAwesome';
                        color: #222222;
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                    }
                }
            }
            .accrodion-content {
                padding-top: 10px;
                .inner {border: 1px solid #DEE0E1;padding: 20px 30px;}
                p {
                    margin: 0;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: .01em;
                    color: #74787D;
                }
            }
            &.active {
                .accrodion-title {
                    background:$thm_base_color;
                    border-color:$thm_base_color;
                    h4:before {
                        content: '\f106';
                    }
                }
            }
        }
    }
}